@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+DE+SAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: Doto;
    src: url("../src/assets/fonts/Doto-Regular.ttf");
}

@import "tailwindcss";

@theme{
    --font-doto:Doto;
    --font-title: Lora;
    --font-numberText:Playwrite DE SAS;
    --font-logo:Playfair Display;
    --font-separated:Quicksand;
}

*{
    color:white;
}